// Colours
$light-blue: #31C3BD;
$light-blue-hover: #65E9E4;
$light-yellow: #F2B137;
$light-yellow-hover: #FFC860;
$dark-navy: #1A2A33;
$semi-dark-navy: #1F3641;
$silver: #A8BFC9;
$silver-hover: #DBE8ED;

// Typography
$outfit: 'Outfit', sans-serif;

$h1-size: 40px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 16px;
$p-size: 14px;

// Screen Sizes
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;